[defaults]
host_key_checking=False
inventory="/var/lib/jenkins/workspace/create-swarm/dynamic_inventory_aws_ec2.yaml"
interpreter_python=auto_silent
private_key_file="b107-key3.pem"
deprecation_warnings=False
